<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link href="//fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="<%= css %>" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
    <div class="navigation">
        <a href="../index.html">
            <img alt="version" src="https://img.shields.io/badge/design-home-lightpink.svg" />
        </a>
        <a href="index.html">
            <img alt="documentation" src="https://img.shields.io/badge/documentation-home-lightpink.svg" />
        </a>
        <a href="https://github.corp.ebay.com/SFWARespProgIntegration/fitmentap/">
            <img alt="version" src="https://img.shields.io/badge/version-1.0.0-brightgreen.svg" />
        </a>
        <a href="http://ebayci.qa.ebay.com/fitment-app/">
            <img alt="Jenkins Status" src="https://img.shields.io/badge/Jenkins-Status-brightgreen.svg" />
        </a>
    </div>
    <% if (sources.length > 1) { %>
      <ul id="jump_to">
        <li>
          <a class="large" href="javascript:void(0);">Jump To &hellip;</a>
          <a class="small" href="javascript:void(0);">+</a>
          <div id="jump_wrapper">
          <div id="jump_page_wrapper">
            <div id="jump_page">
              <% for (var i=0, l=sources.length; i<l; i++) { %>
                <% var source = sources[i]; %>
                <a class="source" href="<%= path.basename(destination(source)) %>">
                  <span><%= path.basename(source).split('!').join('</span>/<span>') %></span>
                </a>
              <% } %>
            </div>
          </div>
        </li>
      </ul>
    <% } %>
    <ul class="sections">
        <% if (!hasTitle) { %>
          <li id="title">
              <div class="annotation">
                  <h1><span><%= title.split('!').join('</span>/<span>') %></span></h1>
              </div>
          </li>
        <% } %>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
        <% var section = sections[i]; %>
        <li id="section-<%= i + 1 %>">
            <div class="annotation">
              <% heading = section.docsHtml.match(/^\s*<(h\d)>/) %>
              <div class="pilwrap <%= heading ? 'for-' + heading[1] : '' %>">
                <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
              </div>
              <%= section.docsHtml %>
            </div>
            <% if (section.codeText.replace(/\s/gm, '') != '') { %>
            <div class="content"><%= section.codeHtml %></div>
            <% } %>
        </li>
        <% } %>
    </ul>
  </div>
</body>
</html>